* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
}

form {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}