* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-row {
    background-color: var(--rz-header-background-color);
    height: 10vh;
    color: white;
    border-bottom: 1px dotted black;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.top-row div:nth-of-type(1) {
    display: flex;
    align-items: center;
    padding: 10px;
}

.top-row div:nth-of-type(1) * {
    margin: 0px 10px;
}

.top-row div:nth-of-type(1) {
    border-radius: 25%;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-right: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

article {
    background: var(--rz-body-background-color);
    color: var(--rz-text-color);
}
