<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div style="position: relative">
            <RadzenMenu>
                <RadzenMenuItem Icon="home" Text="Account">
                    <RadzenMenuItem Text="Login" Path="Identity/Account/Login"></RadzenMenuItem>
                    <RadzenMenuItem Text="Register" Path="Identity/Account/Register"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </div>
    </NotAuthorized>
</AuthorizeView>
