@inherits LayoutComponentBase
@inject NavigationManager navManager;
@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> _roleManager
<PageTitle>RMM</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <div>
                <h1 style="cursor: pointer" @onclick="@(()=>navManager.NavigateTo("/"))">Rate My Management</h1>
                <RadzenMenu>
                    <RadzenMenuItem Text="Search Type" Icon="home" Click="(() => _searchingForCompany = !_searchingForCompany)">
                        <RadzenMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenMenuItem>
                        <RadzenMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenMenuItem>
                    </RadzenMenuItem>
                </RadzenMenu>
                <CompanySearch></CompanySearch>
                <button @onclick="OnClick">Do stuff</button>
            </div>
            <div style="display: flex; align-items: center;">
                <LoginDisplay/>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
@code
{
    private bool _searchingForCompany;

    private async Task OnClick()
    {
        var user = await userManager.FindByEmailAsync("admin@gmail.com");
        if (user != null)
        {
            await userManager.AddToRoleAsync(user, "Administrator");
        }
    }
}
